<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="purple">
    <fieldset>
    <form action="register" method='post'>
        {%csrf_token%}
        <h1>
            <br>
            <input type="number"  placeholder="phn" name="phn "  min='10'><br>
            <br>
            <input type="submit" value=send>
        
    </h1>
    </form>
</fieldset>
<br>
  </h1>
  </form>
</body>
</html>